<mat-toolbar>
  <img src="assets/ontop-logo.svg" alt="Ontop logo">

  <ul>
    <li>
      <app-header-menu text="Contracts" iconPath="assets/person.svg" color="accent"></app-header-menu>
    </li>
    <li>
      <app-header-menu text="Documents" iconPath="assets/documents.svg"></app-header-menu>
    </li>
    <li>
      <app-header-menu text="Payouts" iconPath="assets/credit-card.svg"></app-header-menu>
    </li>
    <li>
      <app-header-menu text="Time" iconPath="assets/calendar.svg"></app-header-menu>
    </li>
  </ul>

  <div class="profile-container">
    <div class="spacer"></div>

    <div class="profile">
      <div class="image-placeholder">LA</div>
      <mat-icon>expand_more</mat-icon>
    </div>
  </div>

  <mat-icon class="mobile-menu" color="accent">menu</mat-icon>
</mat-toolbar>
