$accent-ontop: (
    50 : #ffebee,
    100 : #ffced4,
    200 : #ffadb8,
    300 : #ff8c9b,
    400 : #ff7385,
    500 : #ff5a70,
    600 : #ff5268,
    700 : #ff485d,
    800 : #ff3f53,
    900 : #ff2e41,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffdadd,
    A700 : #ffc0c5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #fff,
        600 : #fff,
        700 : #fff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$warn-ontop: (
    50 : #fdf3e8,
    100 : #fbe2c6,
    200 : #f9cea1,
    300 : #f6ba7b,
    400 : #f4ac5e,
    500 : #f29d42,
    600 : #f0953c,
    700 : #ee8b33,
    800 : #ec812b,
    900 : #e86f1d,
    A100 : #ffffff,
    A200 : #fff2eb,
    A400 : #ffd2b8,
    A700 : #ffc29e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
